<table class="table">
  <thead class="table-dark">
    <tr>
      <td></td>
      <td>Name</td>
      <td>Price</td>
      <td>Units In Stock</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="align-middle">
        <img src="{{product.imageUrl}}" height="35px">
      </td>
      <td class="align-middle">{{product.name}}</td>
      <td class="align-middle">{{product.unitPrice | currency : 'INR'}}</td>
      <td class="align-middle">{{product.unitsInStock}}</td>
    </tr>
  </tbody>
</table>

